.playerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0px;
    width: 100%;
    position: relative;
    height: 50px;
}
.playButton{
    border-radius: 50%;
    background-color: white;
    color: #121212;
    font-family: Poppins;
    font-weight: 600;
    border: 1px solid white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.poster{
    height: 40px;
    width: 40px;
    border-radius: 40%;
    position: absolute;
    top: 5px;
    left: 20px;
}

.tobeFixed{
    position: sticky;
    bottom: 0px;
    z-index: 2;
    /* width: 100vw; */
    background-color: #121212;
}