.hero {
  background-color: #121212;
  /* height: 270px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.heroText{
color: #FFFFFF;
font-family: Poppins;
font-weight: 600;
font-style: SemiBold;
}
