.navbar {
  background-color: #34C94B;
  /* background-color: var(--color-primary); */
  padding: 0px 32px;
  height: 74px;
  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.isDesktop{
display: block;
}
.isMobile{
display: none;
}

@media (max-width:640px) {
  .isDesktop{
display: none;
}
.isMobile{
display: block;
width: 100%;
display: flex;
justify-content: center;
}
}


