.title{
font-family: Poppins;
font-weight: 600;
font-size: 20px;
color: #FFFFFF;
}

.titleDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.gridDiv{
    height: 500px;
    margin: 16px;
    /* padding: 10px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px 10px;
}