
.carouselDiv{
    position: relative;
}

.prevButton{
    position: absolute;
    top: 40%;
    left: 10px;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.nextButton{
    position: absolute;
    top: 40%;
    right: 10px;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}