.search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid black;
  /* width: 502px; */
}


.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
  width: 100%;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 14px 20px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-left: none;
  cursor: pointer;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}

.optionImage{
  border-radius: 10px;
  height: 71px;
  width: 66px;
  border: 5px solid #1D1D1D;
  margin: 5px;
}

/* @media (min-width: 640px){
  ul{
    width: 150%;
  }
} */